*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    padding: 100px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 10px;
}